<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <style>
    /* Styling for the banner */
    body {
      margin: 0;
      padding: 0;
    }

    a {
      color: #333;
    }

    .banner {
      background-color: #ffd9a3;
      color: #333;
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .banner img {
      height: 75px;
      width: 75px;
      margin-left: 10px;
    }

    /* Styling for the header */
    .header {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: 700;
      margin: 0 auto 0 20px;
      text-align: center;
      text-transform: uppercase;
    }

    /* Styling for the navigation */
    .navigation {
      display: flex;
      align-items: center;
    }

    .navigation-item {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      margin-left: 20px;
    }
    </style>
</head>
<body>
    <div class="banner">
        <img src="UpbeatLogoBold75x75.jpg" alt="Website Logo">
        <h1 class="header">Import</h1>
        <div class="navigation">
            <a class="navigation-item" href="http://localhost:3000/import">IMPORT</a>
            <a class="navigation-item" href="http://localhost:3000/users">USERS</a>
            <a class="navigation-item" href="http://localhost:3000/posts">POSTS</a>
            <a class="navigation-item" href="http://localhost:3000/comments">COMMENTS</a>
        </div>
    </div>
    <form action="/import" method="POST" enctype="multipart/form-data">
        <h2>Import Users</h2>
        <input type="file" accept=".csv" id="users_csv" name="users_csv">
        <button>Submit</button>
    </form>

    <form action="/import" method="POST" enctype="multipart/form-data">
        <h2>Import Posts</h2>
        <input type="file" accept=".csv" id="posts_csv" name="posts_csv">
        <button>Submit</button>
    </form>
    
    <form action="/import" method="POST" enctype="multipart/form-data">
        <h2>Import Comments</h2>
        <input type="file" accept=".csv" id="comments_csv" name="comments_csv">
        <button>Submit</button>
    </form>
    <% if (insertedRows > 0) { %>
        <p>Successfully inserted <%=insertedRows%> rows!</p>
    <% } %>
    <% errors.map(error => { %>
        <p>Could not insert row: <%= error %></p>
    <% }) %>
</body>
</html>